fastapi==0.111.0
uvicorn[standard]==0.29.0
websockets==12.0
numpy
scipy
scikit-learn
sqlalchemy==2.0.30
pydantic==2.7.1
joblib==1.4.2
python-dotenv==1.0.1
google-generativeai==0.5.4
qrcode[pil]
aiofiles
